<ion-content [fullscreen]="true">
  
  <ion-col>
    <ion-row>
      <ion-button (click)="limpar()">C</ion-button>
      <ion-button (click)="maisMenos()">+/-</ion-button>
      <ion-button (click)="multiplicar()"> -- </ion-button>
      <ion-button (click)="dividir()">/</ion-button>
    </ion-row>
    <ion-row>
      <ion-button (click)="exibir(7)">7</ion-button>
      <ion-button (click)="exibir(8)">8</ion-button>
      <ion-button (click)="exibir(7)">9</ion-button>
      <ion-button (click)="multiplicacao()">*</ion-button>
    </ion-row>
    <ion-row>
      <ion-button (click)="exibir(4)">4</ion-button>
      <ion-button (click)="exibir(5)">5</ion-button>
      <ion-button (click)="exibir(6)">6</ion-button>
      <ion-button (click)="subtracao()">-</ion-button>
    </ion-row>
    <ion-row>
      <ion-button (click)="exibir(1)">1</ion-button>
      <ion-button (click)="exibir(2)">2</ion-button>
      <ion-button (click)="exibir(3)">3</ion-button>
      <ion-button (click)="adicao()">+</ion-button>
    </ion-row>
  </ion-col>

</ion-content>
