ion-toolbar {
  --background: #154B52 !important;
  color: whitesmoke;
}

.calendario {
  &__foto {
    margin-top: 15px;
    border-style: solid;
    border-color: #000B0D;
    border-width: 5px;
    border-radius: 5px;
  }
  
  &__mes {
    margin-top: 20px;
    font-size: 2rem; // rem serve para ficar tanto % acima da fonte do desktop ou mobile
    color: #004C50;
    text-decoration: dashed;
    font-family: aton;
    font-weight: bold
  }

  &__ano {
    margin-top: 20px;
    font-size: 2rem;
    color: #004C50;
    font-family: aton;
    font-weight: bold
  }

  &__dia-semana {
    color: whitesmoke;
    font-weight: bold

  }

  &__dia {
    color: black;
    font-weight: bold
  }
}

#borda-dia {
  border-style: solid;
  border-color: black;
  margin-bottom: 25px;
  background-color: #154B52;
}