*{
  // outline: 1px dashed lightcoral;
  padding: 0;
}

.fundo{
  background-image: url(https://images.pexels.com/photos/12317909/pexels-photo-12317909.jpeg?auto=compress&cs=tinysrgb&w=600);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.altura{
  height: 100vh;
  overflow: hidden;
}

.titulo{
  font-size: 50px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.botao-criar{
  padding-top: 100px;
}